.secondary_cursor {
  z-index: 10000;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  position: fixed;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  overflow: hidden;
  background: #fff;
  mix-blend-mode: difference;
  transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
}
